.req-status {
  text-align: center;
  overflow-x: scroll;
}

.cert-status {
  margin-bottom: 70px;
}

.cert-status-head {
  width: 80%;
}

.table-icons-item {
  margin-right: 10px;
  cursor: pointer;
}

.status-table {
  margin-bottom: 10px;
}
.history {
  z-index: 100 !important;
}

.timeline-ovf {
  overflow-x: auto !important;
}

.timeline-ovf::-webkit-scrollbar {
  width: 1em; /* width of the entire scrollbar */
}
.timeline-ovf::-webkit-scrollbar-track {
  background: gainsboro; /* color of the tracking area */
}
.timeline-ovf::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
  background-clip: content-box;
}

.nor {
  color: white;
  margin-bottom: 10vh;
  background-color: #343a40;
  height: 5vh;
  vertical-align: middle;
  padding: 10px;
}
