#cert-upl {
  z-index: 0;
  width: 95%;
  max-width: 1000px;
  margin-bottom: 80px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cert-upl-head {
  padding: 20px;
}

.form-left {
  border-right: 2px inset;
}

.btn-del {
  float: right;
  padding: 0;
}
.btn-del > span {
  color: red;
  font-size: 1.2em;
}
.emailList {
  width: 75%;
}
.emailList > li {
  background-color: #f5f5f5;
}

.gray {
  background-color: #f5f5f5;
}

.cert-right {
  overflow-y: auto;
}

embed {
  width: 100%;
  height: 100%;
}
.modal-content {
  height: 90vh;
}

.small-link {
  font-size: 0.75em;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

div > div > a {
  color: blue;
}

/* .anchorClick */
@media only screen and (min-width: 800px) {
  #anchorClick {
    display: none;
  }
}
