.tableHeader {
  background-color: black;
  color: white;
  border-radius: 10px !important;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.admin {
  border-radius: 10px !important;
}

.file-check-msg {
  color: red;
  font-size: medium;
  padding: 5px;
}

.approveModal {
  max-height: 50% !important;
}

.table-main {
  padding: 10px;
}
.req-notif {
  display: inline-block;
  border-radius: 50%;
  padding: 2px;
  min-width: 30px;
  height: 30px;
  background-color: #107dac;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.cancel-btn {
  color: red;
  font-size: large;
}

.card-header {
  cursor: pointer;
}

.placeholder-nil {
  font-size: 1.5rem;
}

.acc-title {
  font-size: 1.5rem;
}

.download-details {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  font-size: 18px;
}

/* .pending-approved-number {
  display: inline-flex;
  position: absolute;
  right: 0.5em;
} */
.pending-approved-number {
  font-size: 0.8em;
  position: relative;
  /* float: right; */
}

.navbar {
  margin: 0.3em;
}

.end{
  width : 100px;
  margin: 10px;
}
.end::file-selector-button{
  width : 100px;
  height: 35px;
}