.tableHeader {
  background-color: black;
  color: white;
  border-radius: 10px !important;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.admin {
  border-radius: 10px !important;
}

.file-check-msg {
  color: red;
  font-size: medium;
  padding: 5px;
}

.approveModal {
  max-height: 50% !important;
}

.table-main {
  padding: 10px;
}
.req-notif {
  float: right;
  border-radius: 50% !important;
  padding: 3px;
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: #107dac;
}

.cancel-btn {
  color: red;
  font-size: large;
}

.card-header {
  cursor: pointer;
}


.placeholder-nil{
  font-size: 1.5rem;
}

.acc-title{
  font-size: 1.5rem;
}