.req-status {
  text-align: center;
}

.req-status::-webkit-scrollbar {
  width: 12px;
}

.req-status::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background: white;
}

.req-status::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black; /* color of the tracking area */
}

.table-icons-item {
  margin-right: 10px;
  cursor: pointer;
}

.status-table {
  margin-bottom: 200px;
}
.history {
  z-index: 100 !important;
}

.timeline-ovf {
  overflow-x: auto;
}

.timeline-ovf::-webkit-scrollbar {
  width: 1em; /* width of the entire scrollbar */
}
.timeline-ovf::-webkit-scrollbar-track {
  background: gainsboro; /* color of the tracking area */
}
.timeline-ovf::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
  background-clip: content-box;
}
