.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  background-color: #0d1329;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn {
  color: #f1f1f1 !important;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .sidenav {
    padding-top: 15px;
  }
  .navEntry {
    font-size: 18px;
  }
  .greetings {
    font-size: 28px !important;
  }
}
.icon-nav {
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
  padding: 30%;
  margin: 10%;
}

.navMain {
  width: fit-content;
  z-index: 100;
}

.navEntry {
  cursor: pointer;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.navEntry:hover {
  color: #f1f1f1;
}

.greetings {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: #f1f1f1;
  display: block;
}

.nav-logo > img {
  margin: auto;
  width: 170px;
  padding-top: 20px;
}
