DB_HOST=localhost
DB_USER=root
DB_PASS=your_pass_here
DB_NAME=bonafide

PORT=3001

LOG_LEVEL=info
# fatal | error | warn | info | debug | trace

ENV=DEV
# DEV or PROD

JWT_SECRET=secret_key

OTP_RETRY=100000

EMAIL=youremail@gmail.com
PASS=yourpassword
SENDGRID_API_KEY=<your api key>

#lynxAuth
REMOTE_SERVER=
GRPC_CLIENT_ID=
GRPC_CLIENT_SECRET=