DB_HOST=localhost
DB_USER=root
DB_PASS=your_pass_here
DB_NAME=bonafide

PORT=3001

LOG_LEVEL=info
# fatal | error | warn | info | debug | trace

ENV=DEV
# DEV or PROD

JWT_SECRET=secret_key

EMAIL=youremail@gmail.com
PASS=yourpassword
SENDGRID_API_KEY=<your api key>